<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <!-- By adding target="_blank", you instruct the browser to open the link in a new tab when it's clicked.  -->
            <a href="https://www.facebook.com/profile.php?id=100054873924657"  target="_blank"  style="color: black;"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="https://www.instagram.com/atharvvv322/" target="_blank" style="color: black;"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://www.linkedin.com/in/atharv-patil-b305231ab/"  target="_blank" style="color: black;"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div class="f-info-brand">&copy; Wanderlust Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>